.malb {
  background-image: url("../src/images/backgrounds/main-background.png");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center; }
  .malb-body {
    font-family: 'Titillium Web', sans-serif;
    max-width: 1024px;
    margin: 0 auto; }
  .malb-main-container {
    display: flex;
    flex-direction: column; }
  .malb-main-logo {
    max-width: 90%;
    margin: 40px auto;
    opacity: .4; }
    .malb-main-logo--small {
      opacity: .2; }
    @media (min-width: 768px) {
      .malb-main-logo {
        max-width: 100%; } }
    .malb-main-logo__wrapper {
      margin: 0 auto 50px auto; }
      @media (min-width: 768px) {
        .malb-main-logo__wrapper {
          margin: 0 auto; } }
  @media (min-width: 768px) {
    .malb-grid-img {
      grid-area: img; } }
  .malb-forms-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 27px;
    margin-top: 50px;
    margin-bottom: 50px; }
    @media (min-width: 768px) {
      .malb-forms-container {
        grid-template: "register-f signin-f" "register-f ." "register-f recover-f" ". recover-f" "send-f recover-f" "send-f ." "send-f sub-f" "send-f img"; } }
  .malb-form {
    margin: 27px;
    position: relative;
    background-color: #ffffff;
    padding: 18px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: #f4f4f4;
    height: max-content; }
    .malb-form:before {
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: rgba(113, 109, 109, 0.5);
      border: 15px solid rgba(113, 109, 109, 0);
      border-radius: 5px;
      top: -15px;
      left: -15px;
      z-index: -1; }
    @media (min-width: 768px) {
      .malb-form--register {
        grid-area: register-f; } }
    @media (min-width: 768px) {
      .malb-form--send-email {
        grid-area: send-f; } }
    @media (min-width: 768px) {
      .malb-form--sign-in {
        grid-area: signin-f; } }
    @media (min-width: 768px) {
      .malb-form--subscribe {
        grid-area: sub-f; } }
    @media (min-width: 768px) {
      .malb-form--recover {
        grid-area: recover-f; } }
  .malb-form-title {
    color: #ffffff;
    font-size: 32px;
    text-shadow: 1px 1.732px 2px rgba(43, 1, 0, 0.75);
    position: absolute;
    top: -60px;
    left: 0;
    text-align: center;
    width: 100%; }
  .malb-form-input-wrapper {
    position: relative;
    width: 100%;
    height: 40px;
    display: flex;
    border: 1px solid #c6c6c6;
    margin-bottom: 16px;
    border-radius: 3px;
    box-shadow: 1px 1.732px 0px rgba(174, 164, 164, 0.24);
    background-color: #f8f8f8; }
  .malb-form-icon {
    width: 60px;
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-position-y: 50%;
    border-right: 1px solid rgba(175, 175, 175, 0.5);
    margin: 4px 9px 4px 0; }
    .malb-form-icon--user {
      background-image: url("./../src/images/sprites/user-icon.svg"); }
    .malb-form-icon--password {
      background-image: url("./../src/images/sprites/lock-icon.svg"); }
    .malb-form-icon--email {
      background-image: url("./../src/images/sprites/mail-icon.svg"); }
    .malb-form-icon--phone {
      background-image: url("./../src/images/sprites/phone-icon.svg"); }
    .malb-form-icon--location {
      background-image: url("./../src/images/sprites/pin-icon.svg"); }
  .malb-form-input, .malb-form-select {
    background-color: transparent;
    border: none;
    width: calc(100% - 60px);
    font-size: 16px;
    color: #afafaf;
    font-weight: 300;
    padding-left: 9px; }
  .malb-form-input::placeholder {
    font-size: 16px;
    color: #afafaf;
    font-weight: 300; }
  .malb-form-button-wrapper {
    display: flex; }
  .malb-form-button {
    height: 48px;
    border-radius: 3px;
    cursor: pointer;
    text-shadow: 0.5px 0.866px 0px rgba(43, 1, 0, 0.75);
    background: linear-gradient(#93d02b, #3b9a00);
    border: 1px solid #3b9a00;
    box-shadow: 0.5px 0.866px 0px #ffffff;
    font-size: 24px;
    font-family: 'Titillium Web', sans-serif;
    color: #ffffff;
    width: 100%; }
    .malb-form-button--alt {
      box-shadow: 0.5px 0.866px 0px #ffffff;
      background: linear-gradient(#f4495b, #a2202a);
      border: 1px solid #a2202a;
      margin-left: 30px; }
    .malb-form-button--disable {
      background: linear-gradient(#bcdb97, #90ca6d);
      border: 1px solid #90ca6d;
      margin-left: 30px; }
  .malb-form-checkbox-label {
    font-size: 17px;
    color: #afafaf;
    margin-bottom: 16px;
    display: flex;
    align-items: center; }
  .malb-form-checkbox-badge {
    opacity: 0;
    position: absolute;
    width: 23px;
    height: 23px;
    z-index: 1; }
  .malb-form-checkbox-indicator {
    width: 23px;
    height: 23px;
    border: 1px solid #c6c6c6;
    border-radius: 3px; }
    .malb-form-checkbox-indicator:before {
      content: '';
      display: block;
      width: 13px;
      height: 13px;
      border-radius: 3px;
      transform: translateY(35%) translateX(35%); }
      .malb__form-checkbox-badge:checked + .malb-form-checkbox-indicator:before {
        background-color: #90ca6d; }
  .malb-form-checkbox-label-text {
    margin-left: 10px; }
  .malb-form-textarea-wrapper {
    display: flex; }
  .malb-form-textarea {
    resize: none;
    height: 230px;
    border: 1px solid #c6c6c6;
    margin-bottom: 16px;
    border-radius: 3px;
    box-shadow: 1px 1.732px 0px rgba(174, 164, 164, 0.24);
    background-color: #f8f8f8;
    padding: 9px;
    font-size: 16px;
    color: #afafaf;
    font-weight: 300;
    width: 100%; }
  .malb-form-textarea::placeholder {
    font-size: 16px;
    color: #afafaf;
    font-weight: 300; }
  .malb-form-icon-tooltip {
    display: none;
    box-shadow: 1px 1.732px 0px rgba(174, 164, 164, 0.24);
    background-color: #f8f8f8;
    border: 1px solid #c6c6c6;
    opacity: .9;
    position: absolute;
    padding: 20px 15px;
    text-align: center;
    width: 50%;
    z-index: 10; }
    .malb__form-icon:hover .malb-form-icon-tooltip {
      display: block; }
  .malb-form-icon-tooltip {
    color: #8ac766; }

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }
