$breakpoints: (
  phone: rem(370px),
  phone-lg: rem(480px),
  tablet: rem(768px),
  laptop: rem(1024px),
  laptop-lg: rem(1280px),
  desktop: rem(1440px),
  desktop-lg: rem(1680px),
  tv: rem(1920px)
);