.malb {
  $root: &;
  
  background-image: url('../src/images/backgrounds/main-background.png');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;

  &-body {
    font-family: 'Titillium Web', sans-serif;
    max-width: 1024px;
    margin: 0 auto;
  }
  
  &-main-container {
    display: flex;
    flex-direction: column;
  }
  
  &-main-logo {
    max-width: 90%;
    margin: 40px auto;
    opacity: .4;
  
    &--small {
      opacity: .2;
    }
  
    @include media('>=tablet') {
      max-width: 100%;
    }
  
    &__wrapper {
      margin: 0 auto 50px auto;
  
      @include media('>=tablet') {
        margin: 0 auto;
      }
    }
  }

  &-grid-img {
    @include media('>=tablet') {
     grid-area: img; 
    }
  }
  
  &-forms-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 27px;
    margin-top: 50px;
    margin-bottom: 50px;
  
    @include media('>=tablet') {
       grid-template: "register-f signin-f"
                 "register-f ."
                 "register-f recover-f"
                 ". recover-f"
                 "send-f recover-f"
                 "send-f ."
                 "send-f sub-f"
                 "send-f img"
    }
  }
  
  &-form {
    margin: 27px;
    position: relative;
    background-color: $colorWhite;
    padding: 18px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: #f4f4f4;
    height: max-content;
  
    &:before {
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: rgba(113, 109, 109, 0.5);
      border: 15px solid rgba(113, 109, 109, 0);
      border-radius: 5px;
      top: -15px;
      left: -15px;
      z-index: -1;
    }
  
    &--register {
      @include media('>=tablet') {
        grid-area: register-f;
      }      
    }
  
    &--send-email {
      @include media('>=tablet') {
        grid-area: send-f;
      }
    }
  
    &--sign-in {
      @include media('>=tablet') {
        grid-area: signin-f;
      }
    }

    &--subscribe {
      @include media('>=tablet') {
        grid-area: sub-f;
      }
    }
  
    &--recover {
      @include media('>=tablet') {
        grid-area: recover-f;
      }
    }
  }

  &-form-title {
    color: $colorWhite;
    font-size: 32px;
    text-shadow: 1px 1.732px 2px rgba(43, 1, 0, 0.75);
    position: absolute;
    top: -60px;
    left: 0;
    text-align: center;
    width: 100%;
  }

  &-form-input-wrapper {
    position: relative;
    width: 100%;
    height: 40px;
    display: flex;
    border: 1px solid #c6c6c6;
    margin-bottom: 16px;
    border-radius: 3px;
    box-shadow: 1px 1.732px 0px rgba(174, 164, 164, 0.24);
    background-color: #f8f8f8;
  }

  &-form-icon {
    width: 60px;
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-position-y: 50%;
    border-right: 1px solid rgba(175, 175, 175, 0.5);
    margin: 4px 9px 4px 0;

    &--user {
      background-image: url('./../src/images/sprites/user-icon.svg');
    }

    &--password {
      background-image: url('./../src/images/sprites/lock-icon.svg');
    }

    &--email {
      background-image: url('./../src/images/sprites/mail-icon.svg');
    }

    &--phone {
      background-image: url('./../src/images/sprites/phone-icon.svg');
    }

    &--location {
      background-image: url('./../src/images/sprites/pin-icon.svg');
    }
  }

  &-form-input, &-form-select {
    background-color: transparent;
    border: none;
    width: calc(100% - 60px);
    font-size: 16px;
    color: $colorSilverChalice;
    font-weight: 300;
    padding-left: 9px;
  }

  &-form-input::placeholder {
    font-size: 16px;
    color: $colorSilverChalice;
    font-weight: 300;
  }

  &-form-button-wrapper {
    display: flex;
  }

  &-form-button {
    height: 48px;
    border-radius: 3px;
    cursor: pointer;
    text-shadow: 0.5px 0.866px 0px rgba(43, 1, 0, 0.75);
    background: linear-gradient($colorAtlantis, $colorLimeade);
    border: 1px solid $colorLimeade;
    box-shadow: 0.5px 0.866px 0px $colorWhite;
    font-size: 16px;
    font-family: 'Titillium Web', sans-serif;
    color: $colorWhite;
    width: 100%;

    @include media('>=tablet') {
      font-size: 22px;
    }

    &--alt {
      box-shadow: 0.5px 0.866px 0px #ffffff;
      background: linear-gradient(#f4495b, #a2202a);
      border: 1px solid #a2202a;
      margin-left: 30px;
    }

    &--disable {
      background: linear-gradient(#bcdb97, #90ca6d);
      border: 1px solid #90ca6d;
      margin-left: 30px;
    }
  }

  &-form-checkbox-label {
    font-size: 17px;
    color: $colorSilverChalice;
    margin-bottom: 16px;
    display: flex;
    align-items: center;
  }

  &-form-checkbox-badge {
    opacity: 0;
    position: absolute;
    width: 23px;
    height: 23px;
    z-index: 1;
  }

  &-form-checkbox-indicator {
    width: 23px;
    height: 23px;
    border: 1px solid #c6c6c6;
    border-radius: 3px;

    &:before {
      content: '';
      display: block;
      width: 13px;
      height: 13px;
      border-radius: 3px;
      transform: translateY(35%) translateX(35%);

      #{$root}-form-checkbox-badge:checked + & {
        background-color: #90ca6d;
      }
    }
  }

  &-form-checkbox-label-text {
    margin-left: 10px;
  }

  &-form-textarea-wrapper {
    display: flex;
  }

  &-form-textarea {
    resize: none;
    height: 230px;
    border: 1px solid #c6c6c6;
    margin-bottom: 16px;
    border-radius: 3px;
    box-shadow: 1px 1.732px 0px rgba(174, 164, 164, 0.24);
    background-color: #f8f8f8;
    padding: 9px;
    font-size: 16px;
    color: $colorSilverChalice;
    font-weight: 300;
    width: 100%;
  }

  &-form-textarea::placeholder {
    font-size: 16px;
    color: $colorSilverChalice;
    font-weight: 300;
  }

  //Tooltips

  &-form-icon-tooltip {
    display: none;
    box-shadow: 1px 1.732px 0px rgba(174, 164, 164, 0.24);
    background-color: #f8f8f8;
    border: 1px solid #c6c6c6;
    bottom: 100%;
    position: absolute;
    padding: 15px;
    text-align: center;
    width: 50%;
    z-index: 10;
    border-bottom-left-radius: 4px;

    &:after {
      content: '';
      position: absolute;
      display: block;
      top: 100%;
      left: 0;
      background-color: #f8f8f8;
      border: 1px solid #c6c6c6;
      border-left: 0;
      border-top: 0;
      width: 20px;
      height: 20px;
      transform: rotate(45deg) translateY(-50%) translateX(-18%);
    }

    #{$root}-form-icon:hover &{
      display: block;
    }
  }

  &-form-icon-tooltip { 
    color: darken(#90ca6d, 2);
  }
}

.error {
  border: 1px solid red;
  background-color: rgb(228, 181, 181);
}